:root{
    --cor-fundo: #2EFEF7;
    --cor-principal: #A9D0F5; 
    --cor-secundaria: #0f96e4;
    --cor-destaque: #58FA82;
    --cor-texto: #2E2E2E;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
}